<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div
      class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
      role="alert"
    >
      <strong class="font-bold">Error!</strong>
      <span class="block sm:inline">{{ message }}</span>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3"> </span>
    </div>
    {% endfor %} {% endif %}
    <div class="flex justify-center items-center h-screen">
      <div class="w-full max-w-xs">
        <form
          method="post"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-6"
        >
          {% csrf_token %}
          <h1 class="text-4xl font-bold text-center mb-5">
            Replit X ACM Codeathon
          </h1>
          <div class="mb-4 mt-8">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="username"
            >
              Username
            </label>
            <input
              class="shadow appearance-none border hover:border-blue-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="username"
              name="username"
              type="text"
              placeholder="Username"
              required
            />
          </div>
          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="password"
            >
              Password
            </label>
            <input
              class="shadow appearance-none border hover:border-blue-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="password"
              name="password"
              type="password"
              placeholder="******************"
              required
            />
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Log In
            </button>
            <a
              class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
              href="#"
              id="myLink"
            >
              Forgot Password?
            </a>
          </div>
        </form>
      </div>
    </div>
    <script>
      var link = document.getElementById("myLink");
      link.addEventListener("click", function (event) {
        event.preventDefault();
        alert("Please contact Akshith to reset your password!");
      });
    </script>
    {% include 'main/footer.html' %}
  </body>
</html>
